doctype html
html.en(lang='en')
  head
    title='Cool Search Tool'
  
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/typeahead.js/dist/bloodhound.min.js')
    script(src='/bower_components/typeahead.js/dist/typeahead.bundle.min.js')

    script(src='/js/placeholder.js')
    script(src='/js/controller.js')

    script(src='http://use.typekit.net/pdu4jrt.js')

    script.
      try{Typekit.load();}catch(e){}

  body#b
    .header
      .main-column
        .logo
    #bd
      .hero-unit
        .main-column
          .search-form
            strong.slogan Now serving bus schedules for 10463 cities in 89 countries
            h1 Find a bus for your next trip
            form(action='#', method='post')
              
              div#from-search-group.form-group
                i(class="glyphicon glyphicon-map-marker map-market-icon")
                input#from-search.typeahead.form-control.has-error(placeholder='Departure city')
              
              div.search-left-col
                div#to-search-group.form-group
                  i(class="glyphicon glyphicon-map-marker map-market-icon")
                  input#to-search.typeahead.form-control(placeholder='Destination city')

              div.search-right-col
                button#search(type="button" class="btn btn-default btn-lg")
                  i(class="glyphicon glyphicon-search")
              
              div.clear-both

              div#errorMsg(class="error")  
                |<strong>Invalid input!</strong> Please select the value from the dropdown list.  

              


             
            
