doctype html
html.en(lang='en')
  head
    title='Cool Search Tool'
  
    link(rel='stylesheet', href='/css/main.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

    script(src='/js/typeaheadjs/bloodhound.min.js')
    script(src='/js/typeaheadjs/typeahead.bundle.min.js')

    script(src='http://use.typekit.net/pdu4jrt.js')
    script(src='/js/search.js')

    script.
      try{Typekit.load();}catch(e){}

  body#b
    .header
      .main-column
        .logo
    #bd
      .hero-unit
        .main-column
          .search-form
            strong.slogan Now serving information between many places
            h1 Find three places
            input#from-search.typeahead.form-control.input-large(type='text', placeholder='Departure city')
            input#from-selection.typeahead(type='hidden')
            |<br >
           

            input#to-search.typeahead.form-control(type='text', placeholder='Destination city')
            input#to-selection.typeahead(type='hidden')

            button#search(type="button" class="btn btn-default btn-lg")
              i(class="glyphicon glyphicon-search")

            span#submitMessage
            | &nbsp;
  #footer
    .main-column
      | Salut



