doctype html
html.en(lang='en')
  head
    title='Cool Search Tool'
  
    link(rel='stylesheet', href='/css/main.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

    script(src='/js/typeaheadjs/bloodhound.min.js')
    script(src='/js/typeaheadjs/typeahead.bundle.min.js')

    script(src='/js/cityTypeahead.js')
    script(src='/js/search.js')

    script(src='http://use.typekit.net/pdu4jrt.js')
    script.
      try{Typekit.load();}catch(e){}

  body#b
    .header
      .main-column
        .logo
    #bd
      .hero-unit
        .main-column
          .search-form
            strong.slogan Now serving bus schedules for 10463 cities in 89 countries
            h1 Find a bus for your next trip
            form(action='#', method='post')
              
              div#from-search-group.form-group
                input#from-search.typeahead.form-control.has-error(placeholder='Departure city')
              
              div.search-left-col
                div#to-search-group.form-group
                  input#to-search.typeahead.form-control(placeholder='Destination city')

              div.search-right-col
                button#search(type="button" class="btn btn-default btn-lg")
                  i(class="glyphicon glyphicon-search")
              
              div.clear-both

              span#submitMessage
              | &nbsp;
             
            
