@import "typeahead-results.less";

/* Variables */
@logo-height: 40px;
@header-height:60px;
@color-ocean:#3678ae;
@search-button-width:50px;
@dark-gray:#808080;
@light-gray:#CCCCCC;

html{
	height: 100%;
	body {
		height: 100%;
		background-color: @color-ocean;
	}
}

/* layouts */
.main-column {
	width:100%;
	max-width:700px;
	margin:auto;
}
/* header */
.header {
	position:relative;
	z-index:3;
	width:100%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
	height:@header-height;
	padding:10px;
	/* logo */
	.logo {
		background: url("http://www.busbud.com/images/sprites/72eb428.logo_header.png") 0 0 no-repeat;
		width: 124px;
		height: @logo-height;
	}
}


#bd{
	height: calc(~'80% - ' @header-height);
	display:table;
	width:100%;
	position:relative;
	
	z-index:1;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
	.hero-unit {
		display: table-cell;
		vertical-align: middle;

		background-repeat: no-repeat;
		background-color: #000;
		background-position: center;
		background-size: cover;
		background-image: url(../../images/port_montreal_aggrandi.jpg);
	
		
		font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		color: @dark-gray;
		text-shadow: 0 1px 0 #fff;

		.slogan {
			font-weight: normal;
			font-size: 18px;
		}
	}
}

/* search form */
.search-form {
	width:inherit;
	max-width:inherit;

	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.90);
	color: @dark-gray;
	border-radius: 10px;
	background-clip: padding-box;
	box-shadow: 0px 0px 4px 0px #293033;
	padding: 40px 80px 10px 80px;	

	h1 {
		font-weight: normal;
		color: @dark-gray;
		font-size: 32px;
		text-shadow: 0 1px 0 #fff;
		padding-bottom: 8px;
	}

	.search-left-col{
		width:calc(~'100% - 5px - ' @search-button-width);
		float:left;
	}
	.search-right-col{
		width:@search-button-width;
		float:right;
	}

	.form-group{
		position:relative;
		.map-market-icon{
			top:8px;
			left:8px;
		    position:absolute;
		    font-size:28px;
		    z-index:5;
		    color:@light-gray;
		}
	}
	
	

	button#search{
		width:@search-button-width;
		height:50px;
		background-color:@color-ocean;
		color:white;
		float:right;
	}

	.error {
		background-color: #fdf7f7;
		border-left:3px solid #d9534f;
		padding:10px;
		color:#d9534f;
		display:none;
	}
	.success {
		color: green;
	}

	.clear-both{
		clear: both;
	}
}

